<section id="side-bar" class="float visible" style="top: 20px; left: 855px; width: 370px;"
         xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="span4">
        <img src="{{ ASSET_PATH }}twitter/bootstrap/img/vivek.png" class="img-circle">

    </div>
    <h3>Vivek Parihar</h3>

    <ul class="inline" id="social">
        <li>
            <a href="mailto:vivek@weboniselab.com?subject=hi" id="sidebar-email" class="icon-envelope-alt" title="Say hi"></a>
        </li>

        <li>
            <a href="http://twitter.com/vparihar" id="sidebar-twitter" class="icon-twitter" title="I WOULD REALLY ENJOY CONNECTING WITH YOU" style="font-size: 28px;"></a>
        </li>

        <li>
            <a href="http://github.com/Vparihar01" id="sidebar-github" class="icon-github" title="I share and fork code here"></a>
        </li>

        <li>
            <a href="skype:vivek.webonise?add" id="sidebar-skype" class="icon-comment" title="Feel free to add me on Skype"></a>
        </li>
    </ul>

    <hr>
    <h3><u>About Me, Elsewhere</u></h3>
    <hr>
    <p> A </b>Weboniser</b> and </b>Rubyist</b>.</br>
        Work on open source web development technologies (<b>Ruby</b> and their frameworks like <b>Rails</b> and <b>Sinatra</b> , PHP and its framework CAKE) and mobile technologies like <b>Android</b>. Deep passion for elegant design,<i>cloud infrastructure</i>(Rackspace and Amazon Web Services, AWS, S3, EC2) and their automation, distributed applications development, systems scaling, agile development methodologies, and experimental technologies.
        Frequent speaker at conferences.
        Like to hack on <i>d3.js(data visulaization)</i>.
        Hobby boxing, cricket and tracking.</p>
</section>
<script>
    $('#side-bar').affix()
</script>
